In [1]:
import pandas
import numpy
from functools import reduce
from string import ascii_letters

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pandas.DataFrame(numpy.random.rand(1500000,5)*10)
data.columns = list('abcde')

In [3]:
data.shape

(1500000, 5)

In [4]:
data.head()

          a         b         c         d         e
0  5.371397  8.163935  3.923760  8.125065  2.836420
1  6.494743  3.388916  8.879243  5.386597  0.563515
2  1.085720  5.781030  7.266867  8.129132  3.225632
3  6.649574  5.537376  9.509055  2.560926  1.203163
4  6.519756  3.983822  6.369654  4.742221  0.700439

In [5]:
%%time
count = 0
for index in range(data.shape[0]):
    if data.loc[index, 'a'] > 7:
        count = count +1

CPU times: user 29.2 s, sys: 69.7 ms, total: 29.3 s
Wall time: 29.3 s

In [6]:
count

449646

In [7]:
def g7(number):
    if number > 7:
        return True
    else:
        return False

In [8]:
g7(8)

True

In [9]:
%%time

data['a'].apply(g7).sum()

CPU times: user 385 ms, sys: 30.3 ms, total: 415 ms
Wall time: 414 ms

449646

In [10]:
def randomalpha():
    word = ''
    for n in range(8):
        word = word + ascii_letters[numpy.random.randint(0,len(ascii_letters)-1)]
    return word

In [11]:
randomalpha()

'wTnDeGbK'

In [12]:
words = [randomalpha() for n in range(data.shape[0])]

In [13]:
len(words)

1500000

In [14]:
data['alpha1'] = pandas.Series(words)

In [15]:
data.head()

          a         b         c         d         e    alpha1
0  5.371397  8.163935  3.923760  8.125065  2.836420  IwIgJuyf
1  6.494743  3.388916  8.879243  5.386597  0.563515  pfhTyzww
2  1.085720  5.781030  7.266867  8.129132  3.225632  NDIROeFg
3  6.649574  5.537376  9.509055  2.560926  1.203163  rKoECejn
4  6.519756  3.983822  6.369654  4.742221  0.700439  jtTuJynv

In [16]:
search_term = "AAA"

def scontains(word):
    
    if search_term in word:
        return True
    else:
        return False

In [17]:
%%time
data['test'] = data['alpha1'].apply(scontains)
print(data['test'].sum())

68
CPU times: user 310 ms, sys: 8.52 ms, total: 319 ms
Wall time: 318 ms

In [18]:
%%time

c = 0

for index in range(data.shape[0]):
    if search_term in data.loc[index, 'alpha1']:
        c = c + 1
print(c)

68
CPU times: user 29.1 s, sys: 58.1 ms, total: 29.2 s
Wall time: 29.2 s

In [19]:
%%time

data[data['alpha1']]

CPU times: user 1.3 s, sys: 28.9 ms, total: 1.33 s
Wall time: 1.34 s

Empty DataFrame
Columns: [a, b, c, d, e, alpha1, test]
Index: []