# Unpivot Partnerships Data

## High level steps:
    1. Unpivot LGA_DATA
    2. Unpivot REGION_DATA
    3. Export both dataframes to new excel file, as well as relevant tabs.

## Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
input_path = "/Users/danielcorcoran/Desktop/partner/input/Partnerships_dashboard_data_21_06_2018.xlsx"

In [3]:
dataframe_dictionary = {}

## 1. Unpivot LGA_DATA

In [4]:
#IMPORT LGA_DATA FROM INPUT FOLDER

lga_data = pd.read_excel(input_path, sheet_name= "LGA_DATA")

In [5]:
#CHECK DATA

lga_data.head(4)

,LGA_CODE,LGA_NAME,LGA_NAME_DHHS,PARTNERSHIP_REGION_KEY,1.1,1.2,1.3,2.1,3.1,3.2,...,7.3,7.4,8.1,8.2,8.3,8.4,9.1,9.2,9.3,9.4
0,20110,Alpine,Alpine (S),12,74.701087,82.844201,2.576705,1.692334,3.0,64.856101,...,45.4,8.2,15.898899,88.008351,169.247694,99.009901,16.9,7.438017,0.000000,96.3636
1,20260,Ararat,Ararat (RC),2,66.086468,91.489694,5.623100,1.811430,48.3,172.428658,...,47.6,10.1,20.319931,244.388596,408.857038,294.009555,33.0,9.302326,0.000000,96.0630
2,20570,Ballarat,Ballarat (C),2,69.178760,92.182789,4.206614,1.051857,67.4,51.136308,...,43.8,11.9,24.434234,183.111857,661.771001,178.070334,24.7,10.813076,6.959153,92.0930
3,20660,Banyule,Banyule (C),11,74.929728,83.884555,4.293148,2.191137,90.4,40.207108,...,43.3,9.6,5.748648,101.269338,453.183258,94.964544,17.3,7.658643,0.000000,94.6839

In [6]:
lga_data.columns

Index([              'LGA_CODE',               'LGA_NAME',
                'LGA_NAME_DHHS', 'PARTNERSHIP_REGION_KEY',
                          '1.1',                    '1.2',
                          '1.3',                      2.1,
                          '3.1',                    '3.2',
                          '4.1',                    '4.2',
                          '4.3',                    '4.4',
                          '5.1',                    '5.2',
                          '5.3',                    '6.1',
                          '6.2',                    '6.3',
                          '7.1',                    '7.2',
                          '7.3',                    '7.4',
                          '8.1',                    '8.2',
                          '8.3',                    '8.4',
                          '9.1',                    '9.2',
                          '9.3',                    '9.4'],
      dtype='object')

In [7]:
lga_data.columns = list(map(lambda x: str(x), list(lga_data.columns)))

In [8]:
#CHECK COLUMN HEADERS

lga_data.columns

Index(['LGA_CODE', 'LGA_NAME', 'LGA_NAME_DHHS', 'PARTNERSHIP_REGION_KEY',
       '1.1', '1.2', '1.3', '2.1', '3.1', '3.2', '4.1', '4.2', '4.3', '4.4',
       '5.1', '5.2', '5.3', '6.1', '6.2', '6.3', '7.1', '7.2', '7.3', '7.4',
       '8.1', '8.2', '8.3', '8.4', '9.1', '9.2', '9.3', '9.4'],
      dtype='object')

In [9]:
#CHECK DATA SHAPE

lga_data.shape

(79, 32)

In [10]:
#SEPARATE ID COLUMNS FROM VALUE COLUMNS

id_columns = ['LGA_CODE', 'LGA_NAME', 'LGA_NAME_DHHS', 'PARTNERSHIP_REGION_KEY']
id_columns

['LGA_CODE', 'LGA_NAME', 'LGA_NAME_DHHS', 'PARTNERSHIP_REGION_KEY']

In [11]:
#SEPARATE ID COLUMNS FROM VALUE COLUMNS

value_columns = ['1.1',                    '1.2',
                          '1.3',                    '2.1',
                          '3.1',                    '3.2',
                          '4.1',                    '4.2',
                          '4.3',                    '4.4',
                          '5.1',                    '5.2',
                          '5.3',                    '6.1',
                          '6.2',                    '6.3',
                          '7.1',                    '7.2',
                          '7.3',                    '7.4',
                          '8.1',                    '8.2',
                          '8.3',                    '8.4',
                          '9.1',                    '9.2',
                          '9.3',                    '9.4']
value_columns

['1.1',
 '1.2',
 '1.3',
 '2.1',
 '3.1',
 '3.2',
 '4.1',
 '4.2',
 '4.3',
 '4.4',
 '5.1',
 '5.2',
 '5.3',
 '6.1',
 '6.2',
 '6.3',
 '7.1',
 '7.2',
 '7.3',
 '7.4',
 '8.1',
 '8.2',
 '8.3',
 '8.4',
 '9.1',
 '9.2',
 '9.3',
 '9.4']

In [12]:
#UNPIVOT THE LGA_DATA, PASSING IN ID COLUMNS AND VALUE COLUMNS AS PARAMETERS

lga_data_melted = pd.melt(lga_data, id_vars = id_columns, value_vars = value_columns)

In [13]:
#CHECK SHAPE OF NEW DATA

lga_data_melted.shape

(2212, 6)

In [14]:
#CREATE PANDAS SERIES TO STORE JUNCTION KEY

indicator_region_code = lga_data_melted["PARTNERSHIP_REGION_KEY"].astype(str).str.strip() + "_" + lga_data_melted["variable"].str.strip()

In [15]:
#CHECK SERIES ABOVE

indicator_region_code.head()

0    12_1.1
1     2_1.1
2     2_1.1
3    11_1.1
4     4_1.1
dtype: object

In [16]:
#RENAME COLUMNS

lga_data_melted.rename(columns = {"variable":"INDICATOR_CODE", "value":"LGA_VALUE"}, inplace = True)

In [17]:
#MERGE UNPIVOTTED DATA WITH JUNCTION KEY SERIES AND RENAME THE NEW COLUMN

lga_data_melted2 = pd.concat([lga_data_melted, indicator_region_code.rename("INDICATOR_REGION_CODE")], axis = 1)

In [18]:
#CHECK FINAL DATA

lga_data_melted2.head()

,LGA_CODE,LGA_NAME,LGA_NAME_DHHS,PARTNERSHIP_REGION_KEY,INDICATOR_CODE,LGA_VALUE,INDICATOR_REGION_CODE
0,20110,Alpine,Alpine (S),12,1.1,74.701087,12_1.1
1,20260,Ararat,Ararat (RC),2,1.1,66.086468,2_1.1
2,20570,Ballarat,Ballarat (C),2,1.1,69.178760,2_1.1
3,20660,Banyule,Banyule (C),11,1.1,74.929728,11_1.1
4,20740,Bass Coast,Bass Coast (S),4,1.1,68.299194,4_1.1

In [19]:
#REPLCE NULLS IN VALUE COLUMN

lga_data_melted2["LGA_VALUE"].replace(0,np.nan, inplace = True)

In [20]:
#STORE final data in dictionary

dataframe_dictionary["LGA_DATA_UNPIVOTTED"] = lga_data_melted2

## 1. Unpivot REGION_DATA

In [21]:
#IMPORT DATA AND LOOKUP TABLE

region_data = pd.read_excel(input_path, sheet_name= "REGION_DATA")
region_lookup_data = pd.read_excel(input_path, sheet_name= "REGIONS")

In [22]:
#CHECK REGION DATA

region_data.head()

,INDICATOR_NAME,INDICATOR_CODE,YEAR_DATA_PUBLISHED,COLOUR_SCALE_DIRECTION,Barwon,Central Highlands,Eastern,Gippsland,Goulburn,Great South Coast,Inner,Inner South-East,Loddon Campaspe,Mallee,Northern Metro,Ovens Murray,Southern,Western,Wimmera Southern Mallee
0,Employment (% of working age population),1.1,2016,1,71.207099,69.680891,72.143474,67.795715,69.296058,74.014850,65.825160,74.685254,70.504069,68.074461,68.479356,73.630701,69.845107,66.811540,73.531288
1,Labour productivity ($000 per worker),1.2,2015,1,99.565466,89.046715,96.010700,131.286286,91.299568,112.304432,142.817609,107.726317,98.934028,94.585677,89.230980,91.249853,88.015346,90.459250,105.982798
2,Unemployment (% of labour force),1.3,2017,-1,5.709137,4.430555,4.506457,6.585084,5.853682,3.739437,4.723937,3.745407,5.918335,5.805436,6.851721,3.313709,6.910634,8.374421,4.510919
3,"New patents (applied per 10,000 population)",2.1,2016,1,2.415064,1.125651,4.371418,1.327975,0.810165,0.520530,14.346925,4.944013,1.826084,0.700207,2.918467,0.937670,3.181628,1.830045,0.889363
4,Access to public transport (% population livin...,3.1,2014,1,69.655496,45.596119,88.528132,34.034393,34.911315,39.704353,99.052588,99.349742,38.653680,41.434982,81.930596,33.886365,70.071150,80.765858,36.584843

In [23]:
#CHECK LOOKUP DATA

region_lookup_data.head()

  PARTNERSHIP_REGION_NAME  PARTNERSHIP_REGION_KEY        SECTION_OF_STATE
0                  Barwon                       1       Regional Victoria
1       Central Highlands                       2       Regional Victoria
2                 Eastern                       3  Metropolitan Melbourne
3               Gippsland                       4       Regional Victoria
4                Goulburn                       5       Regional Victoria

In [24]:
#CHECK SHAPE OF DATA

region_data.shape

(28, 19)

In [25]:
#LOAD COLUMN NAMES

region_data.columns

Index(['INDICATOR_NAME', 'INDICATOR_CODE', 'YEAR_DATA_PUBLISHED',
       'COLOUR_SCALE_DIRECTION', 'Barwon', 'Central Highlands', 'Eastern',
       'Gippsland', 'Goulburn', 'Great South Coast', 'Inner',
       'Inner South-East', 'Loddon Campaspe', 'Mallee', 'Northern Metro',
       'Ovens Murray', 'Southern', 'Western', 'Wimmera Southern Mallee'],
      dtype='object')

In [26]:
#SEPERATE ID AND VALUE COLUMNS FOR THE MELT

id_columns = ['INDICATOR_NAME', 'INDICATOR_CODE', 'YEAR_DATA_PUBLISHED',
       'COLOUR_SCALE_DIRECTION']
id_columns

['INDICATOR_NAME',
 'INDICATOR_CODE',
 'YEAR_DATA_PUBLISHED',
 'COLOUR_SCALE_DIRECTION']

In [27]:
#SEPERATE ID AND VALUE COLUMNS FOR THE MELT

value_columns = ['Barwon', 'Central Highlands', 'Eastern',
       'Gippsland', 'Goulburn', 'Great South Coast', 'Inner',
       'Inner South-East', 'Loddon Campaspe', 'Mallee', 'Northern Metro',
       'Ovens Murray', 'Southern', 'Western', 'Wimmera Southern Mallee']
value_columns

['Barwon',
 'Central Highlands',
 'Eastern',
 'Gippsland',
 'Goulburn',
 'Great South Coast',
 'Inner',
 'Inner South-East',
 'Loddon Campaspe',
 'Mallee',
 'Northern Metro',
 'Ovens Murray',
 'Southern',
 'Western',
 'Wimmera Southern Mallee']

In [28]:
#MELT (UNPIVOT)

region_data_melted = pd.melt(region_data, id_vars = id_columns, value_vars = value_columns)

In [29]:
region_data_melted.head()

,INDICATOR_NAME,INDICATOR_CODE,YEAR_DATA_PUBLISHED,COLOUR_SCALE_DIRECTION,variable,value
0,Employment (% of working age population),1.1,2016,1,Barwon,71.207099
1,Labour productivity ($000 per worker),1.2,2015,1,Barwon,99.565466
2,Unemployment (% of labour force),1.3,2017,-1,Barwon,5.709137
3,"New patents (applied per 10,000 population)",2.1,2016,1,Barwon,2.415064
4,Access to public transport (% population livin...,3.1,2014,1,Barwon,69.655496

In [30]:
#JOIN UNPIVOTTED DATA TO LOOKUP DATA

region_data_melted2 = region_data_melted.merge(region_lookup_data, 
                                       left_on = "variable", 
                                       right_on = "PARTNERSHIP_REGION_NAME", 
                                       how = "left")

In [31]:
#CHECK RESULT

region_data_melted2.head()

,INDICATOR_NAME,INDICATOR_CODE,YEAR_DATA_PUBLISHED,COLOUR_SCALE_DIRECTION,variable,value,PARTNERSHIP_REGION_NAME,PARTNERSHIP_REGION_KEY,SECTION_OF_STATE
0,Employment (% of working age population),1.1,2016,1,Barwon,71.207099,Barwon,1,Regional Victoria
1,Labour productivity ($000 per worker),1.2,2015,1,Barwon,99.565466,Barwon,1,Regional Victoria
2,Unemployment (% of labour force),1.3,2017,-1,Barwon,5.709137,Barwon,1,Regional Victoria
3,"New patents (applied per 10,000 population)",2.1,2016,1,Barwon,2.415064,Barwon,1,Regional Victoria
4,Access to public transport (% population livin...,3.1,2014,1,Barwon,69.655496,Barwon,1,Regional Victoria

In [32]:
#DROP DUPLICATE COLUMN

region_data_melted3 = region_data_melted2.drop(["variable"], axis = 1)

In [33]:
region_data_melted3.head()

,INDICATOR_NAME,INDICATOR_CODE,YEAR_DATA_PUBLISHED,COLOUR_SCALE_DIRECTION,value,PARTNERSHIP_REGION_NAME,PARTNERSHIP_REGION_KEY,SECTION_OF_STATE
0,Employment (% of working age population),1.1,2016,1,71.207099,Barwon,1,Regional Victoria
1,Labour productivity ($000 per worker),1.2,2015,1,99.565466,Barwon,1,Regional Victoria
2,Unemployment (% of labour force),1.3,2017,-1,5.709137,Barwon,1,Regional Victoria
3,"New patents (applied per 10,000 population)",2.1,2016,1,2.415064,Barwon,1,Regional Victoria
4,Access to public transport (% population livin...,3.1,2014,1,69.655496,Barwon,1,Regional Victoria

In [34]:
#RENAME VALUE COLUMN

region_data_melted4 = region_data_melted3.rename(columns = {"value":"PARTNERSHIP_REGION_VALUE"})

In [35]:
region_data_melted4.head()

,INDICATOR_NAME,INDICATOR_CODE,YEAR_DATA_PUBLISHED,COLOUR_SCALE_DIRECTION,PARTNERSHIP_REGION_VALUE,PARTNERSHIP_REGION_NAME,PARTNERSHIP_REGION_KEY,SECTION_OF_STATE
0,Employment (% of working age population),1.1,2016,1,71.207099,Barwon,1,Regional Victoria
1,Labour productivity ($000 per worker),1.2,2015,1,99.565466,Barwon,1,Regional Victoria
2,Unemployment (% of labour force),1.3,2017,-1,5.709137,Barwon,1,Regional Victoria
3,"New patents (applied per 10,000 population)",2.1,2016,1,2.415064,Barwon,1,Regional Victoria
4,Access to public transport (% population livin...,3.1,2014,1,69.655496,Barwon,1,Regional Victoria

In [36]:
#CREATE JUNCTION KEY SERIES

indicator_region_code = region_data_melted4["PARTNERSHIP_REGION_KEY"].astype(str).str.strip() + "_" + region_data_melted4["INDICATOR_CODE"].astype(str).str.strip()

In [37]:
#JOIN MERGED DATA WITH JUNCTION KEY SERIES AND RENAME TO 'REGION_INDICATOR_CODE'

region_data_melted5 = pd.concat([region_data_melted4, indicator_region_code.rename("REGION_INDICATOR_CODE")], axis = 1)

In [38]:
#REPLACE 0s WITH NULLS

region_data_melted5["PARTNERSHIP_REGION_VALUE"].replace(0,np.nan, inplace = True)

In [39]:
dataframe_dictionary["REGION_DATA_UNPIVOTTED"] = region_data_melted5

## Step 3. Export LGA/REGION Unpivotted data along with relevant original excel tabs, to output folder

In [40]:
output_path = "/Users/danielcorcoran/Desktop/partner/output/Partnerships_dashboard_data_21_06_2018_unpivotted.xlsx"

In [41]:
#CREATE ExcelFile OBJECT USING INPUT_PATH

excelfile_object = pd.ExcelFile(input_path)

In [42]:
# STORE SHEET NAMES IN LIST

sheet_name_list = excelfile_object.sheet_names

In [43]:
sheet_name_list

['DOMAINS',
 'LGA_DATA',
 'REGION_DATA',
 'STATE_AVERAGE',
 'LGA_DATA_UNPIVOTTED',
 'REGIONS',
 'REGION_DATA_UNPIVOTTED',
 'SOURCES']

In [44]:
#REMOVE TWO NAMES FROM LIST, THESE ARE OLD AND WILL BE REPLACE BY ONES GENERATED IN STEP 1/2

sheet_name_list.remove('LGA_DATA_UNPIVOTTED')
sheet_name_list.remove('REGION_DATA_UNPIVOTTED')

In [45]:
#SHEET NAMES TO KEEP

sheet_name_list

['DOMAINS', 'LGA_DATA', 'REGION_DATA', 'STATE_AVERAGE', 'REGIONS', 'SOURCES']

In [46]:
#FOR EACH SHEET NAME IN LIST STORE A DATAFRAME IN THE DATAFRAME DICTIONARY

for name in sheet_name_list:
    data = pd.read_excel(input_path, sheet_name = name)
    dataframe_dictionary[name] = data

In [47]:
#CHECK THAT REQUIRED SHEET NAMES ARE WITHIN THE DICTIONARY AND SORT KEYS

dict_key_list = sorted(dataframe_dictionary.keys())

In [48]:
#FOR EACH DATAFRAME IN DICTIONARY WRITE TO OUTPUT EXCEL FILE, USING DICTIONARY KEYS AS SHEET TAB NAMES

writer = pd.ExcelWriter(output_path)

for key in dict_key_list:
    dataframe_dictionary[key].to_excel(writer, sheet_name = key, index = False)

writer.save()