# Moving data to and from postgres with pandas and sqlalchemy

In [1]:
from sqlalchemy import create_engine
import pandas

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### Create engine
- Specifying database engine, username, server, port and database

In [2]:
engine = create_engine('postgresql://danielcorcoran@localhost:5432/test_db')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

### Reading data from postgres into pandas dataframe

In [3]:
data = pandas.read_sql_query('select * from planets', con = engine)

In [4]:
data.shape

(1035, 6)

In [5]:
data.head()

            method number     orbital_period  mass distance  year
0  Radial Velocity      1              269.3   7.1     77.4  2006
1  Radial Velocity      1  874.7739999999999  2.21    56.95  2008
2  Radial Velocity      1              763.0   2.6    19.84  2011
3  Radial Velocity      1             326.03  19.4   110.62  2007
4  Radial Velocity      1             516.22  10.5   119.47  2009

### Pushing data to postgres
- `replace` will drop table if it exists

In [6]:
data.to_sql('planets2', con = engine, if_exists = 'replace')

### Creating a subset for testing

In [7]:
data_subset = data.loc[0:5]
data_subset.shape

(6, 6)

- `append` will append pandas dataframe to the existing postgres table

In [8]:
data_subset.to_sql('planets2', con = engine, if_exists = 'append')

### Reading data back from planets2
- Notice output is 1041 rows, which is subset + original dataframe

In [9]:
data = pandas.read_sql_query('select * from planets2', con = engine)

In [10]:
data.shape

(1041, 7)