# Compare two tables numerics

In [1]:
import pandas
import numpy
import datetime

In [2]:
input_path = "/users/danielcorcoran/Desktop/test_compare.xlsx"

In [3]:
old_table = pandas.read_excel(input_path, sheet_name = "old_table")
new_table = pandas.read_excel(input_path, sheet_name = "new_table")

In [4]:
old_table.head(2)

,code,Barwon,Central Highlands,Eastern,Gippsland,Goulburn,Great South Coast,Inner,Inner South-East,Loddon Campaspe,Mallee,Northern Metro,Ovens Murray,Southern,Western,Wimmera Southern Mallee
0,indicator 1.1,9746,3124,9483,6372,5213,2073,2060,1146,7688,9431,5353,6648,2046,9086,9435
1,indicator 2.1,1286,8881,36,4160,4643,1204,5659,4907,3763,9746,7833,1031,5574,1385,5785

In [5]:
new_table.head(2)

,code,Barwon,Central Highlands,Eastern,Gippsland,Goulburn,Great South Coast,Inner,Inner South-East,Loddon Campaspe,Mallee,Northern Metro,Ovens Murray,Southern,Western,Wimmera Southern Mallee
0,indicator 1.1,9746.0,3124.0,9483,6372,5213,2073,2060,1146,7688,9431,5353,6648.0,2046,9086,9435
1,indicator 2.1,1286.0,8881.0,36,4160,4643,1204,5659,4907,3763,9746,7833,1031.0,5574,1385,5785

In [6]:
old_table.shape

(32, 16)

In [7]:
new_table.shape

(32, 16)

In [8]:
new_table = pandas.read_excel(input_path, sheet_name = "new_table")

In [9]:
relevant_columns = list(old_table.columns)

In [10]:
relevant_columns.remove("code")

In [11]:
relevant_columns

['Barwon',
 'Central Highlands',
 'Eastern',
 'Gippsland',
 'Goulburn',
 'Great South Coast',
 'Inner',
 'Inner South-East',
 'Loddon Campaspe',
 'Mallee',
 'Northern Metro',
 'Ovens Murray',
 'Southern',
 'Western',
 'Wimmera Southern Mallee']

In [12]:
relevant_rows = old_table["code"].tolist()

In [13]:
relevant_rows

['indicator 1.1',
 'indicator 2.1',
 'indicator 1.2',
 'indicator 2.2',
 'indicator 1.3',
 'indicator 2.3',
 'indicator 1.4',
 'indicator 2.4',
 'indicator 1.5',
 'indicator 2.5',
 'indicator 1.6',
 'indicator 2.6',
 'indicator 1.7',
 'indicator 2.7',
 'indicator 1.8',
 'indicator 2.8',
 'indicator 1.9',
 'indicator 2.9',
 'indicator 1.10',
 'indicator 2.10',
 'indicator 1.11',
 'indicator 2.11',
 'indicator 1.12',
 'indicator 2.12',
 'indicator 1.13',
 'indicator 2.13',
 'indicator 1.14',
 'indicator 2.14',
 'indicator 1.15',
 'indicator 2.15',
 'indicator 1.16',
 'indicator 2.16']

In [18]:
dictionary = {}

wrong = 0
total = old_table.shape[0] * len(relevant_columns)

for label in relevant_columns:
    dictionary[label] = []

for rowlabel in range(old_table.shape[0]):

    for columnlabel in relevant_columns:
        code = old_table.loc[rowlabel,"code"]
        old_value = round(old_table.loc[rowlabel, columnlabel],1)
        new_value = round(new_table.loc[rowlabel, columnlabel],1)

        if old_value == new_value:
            match_flag = True
        else:
            match_flag = False
            wrong = wrong + 1
            print(match_flag,code,columnlabel,old_value,new_value,sep = " : ")

        dictionary[columnlabel].append(match_flag)

False : indicator 2.2 : Central Highlands : 3652 : nan
False : indicator 2.8 : Northern Metro : 5715 : 5716
False : indicator 2.11 : Great South Coast : 5016 : 5677
False : indicator 2.13 : Western : 8946 : 9000
False : indicator 1.14 : Gippsland : 1700 : 7777
False : indicator 2.16 : Barwon : 208 : 208.2
False : indicator 2.16 : Ovens Murray : 983 : 98.3

In [19]:
print("{:.2%}".format(wrong/total)," of values in new table did not match previous data set.")

1.46%  of values in new table did not match previous data set.

In [16]:
data = pandas.DataFrame(dictionary)

In [17]:
data

,Barwon,Central Highlands,Eastern,Gippsland,Goulburn,Great South Coast,Inner,Inner South-East,Loddon Campaspe,Mallee,Northern Metro,Ovens Murray,Southern,Western,Wimmera Southern Mallee
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
26,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
31,False,True,True,True,True,True,True,True,True,True,True,False,True,True,True